body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#searchArea {
    width:1000px;
    height:70px;
    margin-top:10px; 
    position:absolute;
    margin-left:400px;
}

#search {
    width: 700px;
    height:30px;
    border-radius:10px;
}

#games {
    position: absolute;
    margin-left:10px;
}

#movies {
    position: absolute;
    margin-left: 80px;
}

#music {
    position: absolute;
    margin-left: 150px;
}

#tech {
    position: absolute;
    margin-left:220px;
}

#sports {
    position: absolute;
    margin-left: 290px;
}

#postContainer {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 90%;
    min-height: 10%;
    border-radius: 10px;
}

.commentContainer {
    background-color: #313233;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 800px;
    height: 100px;
    margin-left: 200px;
    border-radius:10px;
    margin-top:2%;
}

.commentText {
    position:absolute;
    margin-top:2%;
    margin-left:2%;
}

.commentAuthor {
    position:absolute;
    margin-top:4%;
    margin-left:6%;
}

.postTitle {
    text-align:center;
}