@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Discover</h1>
    <p class="lead">A free to use forum website. Post about your favourite topics and discuss with others.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The first thing to do is check out the list of boards and find one you are interested in. Then read posts already created or why not make your own?
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Log in with google+</h2>
        <p>Sign in with your google+ account and never have to remember another password again.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Beginners Guide</h2>
        <p>For a full guide on how to use the site follow the link below for our beginner guide.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>